.box{
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.add{
    width: 100%;
    font-size: 30px;
    position: absolute;
    background-color: grey;
    color: white;
    left: 0;
    bottom: -40px;
    opacity: 0;
    transition: 1s;

}

.box:hover .add{
    bottom: 0px;
    opacity: 1;
}