.header{
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 10;
  
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.flex {
display: flex;
}
.sameRow {
/* border: 2px solid black; */
height: 40px;
width: 100%;
}
.normal {
height: 40px;
border: 2px solid red;
}

.navbar{
  width: 85%;
  margin: auto;
  display: flex;
}

.logo{
  flex-basis: 15%;
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
  margin: 5px 0;
}

.navbar #list{
   justify-content: flex-end;
  flex: 1;
  display: flex;

 
}

.navbar #list li{
  list-style: none;
  margin-left: 55px;
  padding: 6px 26px;
  border-radius: 18px;
  display: flex;
  font-size: 18px;
}


.navbar #list li:hover{
  background: aqua;
}

.navbar #list a{
  text-decoration: none;
}

.Sign-In {
  width: 82px;
  height: 20px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: var(--robins-egg);
  border: 2px solid aqua;
  border-radius: 25px;
  padding: 10px 10px;
}

.Sign-In:hover{
  background-color: aqua;
}

.Rectangle9 {
  width: 1280px;
  height: 290px;
  margin: 75px 0 30px;
  padding: 10px 0 86px 120px;
  background-color: var(--white);
}

h1 {
  width: 548px;
  height: 115px;
  margin: 32px 79px 19px 2px;
  font-family: CircularStd;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #000;
  text-align: center;
}

h2 {
  width: 462px;
  height: 105px;
  margin: 19px 80px 18px 60px;
  font-family: CircularStd;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #5d5d5d;
  text-align: left;
}
.REQUEST-A-DEMO {
  width: 178px;
  height: 20px;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  color: var(--robins-egg);
  border: 2px solid aqua;
  border-radius: 25px;
  padding: 13px 19px;
  margin-left: 70px;
  background-color: aqua;
 
}

.images-main {
  width: 616px;
  height: 387px;
  margin: 0 0 18px 80px;
  object-fit: contain;
  border: solid 1px #eee;
  float: right;
  
}

.Data-is-sourced-and {
  width: 415px;
  height: 48px;
  margin: 4px 0 0 28px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #6a7575;
}
.content-text  {
  width: 415px;
  height: 48px;
  margin: 4px  0;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #6a7575;
}

.Rectangle {
  width: 1280px;
  height: 200px;
  /* margin: 40px 0 40px; */
  padding: 10px 65px 30px 65px;
  background-color:  #f9faff;
}

.IDENTIFICATION {
  width: 240px;
  height: 44px;
  margin: 3px 175px 4px 28px;
  font-family: CircularStd;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: normal;
  color: #283040;
  background-color: white;
}
.An-automated-plannin {
  width: 415px;
  height: 48px;
  font-family: CircularStd;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #6a7575;
}



.PLANNING {
width: 236px;
height: 44px;
font-family: CircularStd;
font-size: 20px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2.2;
letter-spacing: normal;
color: #283040;
}

.sameRow1{
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px
}
.Artboard3x {
  width: 755px;
  height: 452.1px;
  margin: 0 0 23.4px;
  border: solid 1.3px #dfd9d9;
}


img.We-are-an-Influencer {
  width: 472px;
  height: 109px;
  margin: 28px 150px 16px 0;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #6a7575;
}

.content-data {
  width: 240px;
  height: 44px;
  margin: 3px 175px 4px 28px;
  font-family: CircularStd;
  font-size: 15px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: normal;
  color: #283040;
}
.same_row_left {
  background-color: #eee;
  width: 559px;
  height: 107px;
  margin: 52px 32px 36px 0;
  padding: 24px 34px 29px 30px;
  border-radius: 4px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.15);
  border: solid 1px #f6f9fc;
}



.Creative-strategy-an {
  width: 824px;
  height: 36px;
  margin: 0 39px 18px;
  font-family: CircularStd;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.Rectangle1 {
  width: 1279px;
  height: 396px;
  /* margin: 28px 0 57px 1px; */
  padding: 86px 309px 110px 310px;
  border: solid 1px #e0e0e0;
  background-color: var(--white);
  padding-top: 138px;
}
.Schedule-Your-Demo-T {
  width: 562px;
  height: 51px;
  margin: 0 49px 70px;
  font-family: CircularStd;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}


.Enter-you-email {
  width: 168px;
  height: 30px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #97a4ba;
}
.Rectangle-h {
  width: 239.3px;
  height: 78.4px;
  margin: 50px 139.8px 0.6px 0;
  padding: 24.9px 312.1px 23.5px 39.2px;
  border-radius: 39.2px;
  border: solid 1.6px #d6d6d6;
  background-color:  var(--robins-egg);

}


.REQUEST {
  width: 115px;
  height: 34px;
  font-family: CircularStd;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--robins-egg);
  padding-right: 40px;
  
}


.Rectangle-Copy {
  width: 210px;
  height: 78.4px;
  padding: 23px 47px 21.4px 48px;
  border-radius: 39.2px;
  background-color: var(--robins-egg);
}


.Header-Copy {
  width: 1280px;
  height: 264px;
  padding: 35px 192px 28px 130px;
  background-color: var(--white);
  
}

.image-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.Path {
  width: 2.7px;
  height: 2.7px;
  margin: 0.7px 3.4px 3.1px 2.5px;
  background-color: #263237;
}

.We-are-an-Influencer {
  width: 472px;
  height: 109px;
  margin: 28px 150px 16px 0;
  object-fit: contain;
  font-family: CircularStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #6a7575;
  display: grid;
}

.Oval-1 {
  width: 26px;
  height: 26px;
  margin: 16px 14px 0 1px;
  padding: 6.3px 10.3px 6.7px 10px;
  /* background-color: #8e99a8; */
  border-radius: 50%;
}


.Fill-4 {
  width: 5.7px;
  height: 13px;
  background-color: var(--white);
}
.company-1{
      text-align: center;
      top: 10px;
}
footer .footer--heading {
  text-transform: uppercase;
  font-size: 18px;
  color: #888;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0;
}
h4 {
  display: block;
  margin-block-start: -19.67em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
ul{
  display: block;
  top: 20px;
  
}
li{
  list-style: none;
  /* display: inline-flex; */
  padding: 10px;
}
  
a{
  text-decoration: none;
}
  
 .content{
  padding: 121px;
  text-align: right;
 }

 
.search{
  width: 370;
  float: left;
  margin-left: 370px;
}

.srch{
 margin-top: 30px;
 border: 1px solid #ff7200;
 position: sticky;
 width: 165px;
 height: 30px;
 border-bottom-left-radius: 4px;
 border-top-left-radius: 4px;
 float: left;

}

.btn{
  background-color: #ff7200;
  margin-right: 10px;
  width: 49px;
 height: 32px;
 border: 1px solid #ff7200;
 margin-top: 30px;
 border-bottom-right-radius: 4px;
 border-top-right-radius: 4px;
}