<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: lightgray;
           
        }

        .logo{
            text-align: center;
            font-size: 400px;
        }
        

        a{
            text-decoration: none;
            padding: 12px 20px;
            border: 1px solid blue;
            flex-basis: 30%;
            background-color: lightskyblue;
           text-align: center;
            font-size: 12px;
            margin-left: -258px;
        }
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="30px" border="0"  width="40%"  align="center" style="font-family:arial;font-size: 10px; background-color: white;">
        <tr>
            <td  style="padding: 10px 20px; text-align: left;" width="50%">
                <img src="https://socialfaim.com/assets/img/logo-new.png"  width="170"> 

            </td>
        </tr>
        <tr>
            <td height="0.5" style="background-color: black;" ></td>
        </tr>
        <tr>
            <td align="left">
                <h1 style="margin-bottom: -23px;">Hello <span style="color: lightskyblue;">jane Doe</span>,</h1>
            </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 13px;">Your eCommerce storfront account has been <br>
             activated by <span style="color: grey; font-size: 15px; font-weight: bold;">Pet Supply Co.</span></p>
          </td>
        </tr>
       

    </table>
    <table cellpadding="0" cellspacing="30px" border="0"  width="40%"  align="center" style="font-family:arial;font-size: 10px; background-color: white; ">
    
        <tr>
            <td>
                <h2 style="margin-right: -103px; font-size: 18px; color: grey;">Login to start shopping </h2>
            </td>
            <td> 
                <a href="#">Login Now</a>
            </td>
        </tr>

        <tr>
            <td>
                <h2 style="color: grey;margin-bottom: -34px; ">Have a great day,Thanks.</h2>
            </td>
    
        </tr>
        <tr>
            <td>
                <p style="font-size: 16px; font-weight: 600; ">Pet Supply</p>
            </td>
        </tr> 
        <tr>
            <td align="center">
                <h3>In case of any query call us at : +91786482572</h3>
                <h5>Mail us at :<h/5><span>info@socailfaim.com</a> </span>
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="https://cdn-icons-png.flaticon.com/128/733/733547.png" width="15px">
                    &nbsp;
                    <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" width="15px">
                    &nbsp;
                    <img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" width="15px">
                    <h6 >Copyright Socialfaim © 2018. All rights reserved</h6>
            </td>
        </tr>
    
    </table>
   
    
           
            
               
                
            
       
 
	
</body>
</html>