<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<style>
 *{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 }
 .logo{
    font-size: 1.8rem;
    color: tomato;
    font-weight: bold;
    text-shadow: 2px 2px 2px red,3px 3px 3px green;
 }
 body{
    background-color: lightgrey;
 }
 table{
    background-color: whitesmoke;
 }

 a{
    text-decoration: none;
    font-weight: 700;
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    letter-spacing: 2px;
 }

 button{
   background-color: slateblue;
   color: white;
   border-radius: 15px;
   padding: 10px 30px;
 }
</style>
<body>
    <!--table 1-->
    <table border="0" width="40%" cellspacing="10px" align="center">
       <tr>
        <td align="center">
            <!--logo-->
            <span class="logo">Creative Design</span><img src="fa-solid fa-pen-clip">
        </td>
        <td align="center">
            <a href="#">Login|registration</a>
            <!--- button-->
        </td>
       </tr>
       <tr>
        <td colspan="2" style="line-height: 10px;" align="center">
           <h3>loream ispusm to wild this point</h3>
           <p>Lorem ipsum dolor sit aae, hic quae? Noi am ispusm to wild this to file togj.</p>
          
           <br>
           <button>
            Click me
           </button>
        </td>
       </tr>
       <tr>
        <td colspan="2">
            <img src="https://media.istockphoto.com/id/1456192902/photo/close-up-photo-of-woman-hands-typing-business-report-on-a-laptop-keyboard-in-the-cafe.jpg?s=1024x1024&w=is&k=20&c=UZhhfQH1N9kFTnaM6NXN6Qx5z4xoIfpDJ7DvDBG2FOw=" width="100%">

        </td>
       </tr>
       <tr>
        <td colspan="2" align="center">
            <h1>lorem ipusum to amet that at.</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque dolores voluptatum rerum quia officiis sunt tempore numquam, ipsum fuga nemo odit veritatis iure? Dolore ex aspernatur, inventore enim earum placeat?
           tecabore in quas est, tibusdam sunt, a enim nemo perferendis dolores sint.</p>
        </td>
       </tr>
    </table>
    
    
    <!--tabel 2-->
    <table border="0" width="40%" cellspacing="10px" align="center">
        <tr>
            <td align="center">
            <h3>Lorem ipsum amet to file this row at .</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda itaque doloribus autem nobis exercitationem, impedit iure molestias natus laboriosam sed sint accusantium! Aut reprehenderit enim tenetur sunt minus voluptas harum?
            Nam nciatis tempore commodi sunt rem saepe voluptate eaque veritatis recusandae, ducimus esse deleniti rerum velit quos porro, unde voluptatum dignissimos neque molestiae cum! Velit, ab.</p>
            <button>
                Click me
            </button>
        </td>
        </tr>
        <tr></tr>
    </table>
    
    <!--- tabel 3-->
    <table border="0" width="40%" cellspacing="10px" align="center">
       <tr>
        <td colspan="2" align="center">
            <h2>lorem ipsumto wild this;</h2>
        </td>
       </tr>
       <tr>
        <td> 
            <img src="https://media.istockphoto.com/id/1502422361/photo/design-professionals-using-a-laptop-together-in-an-office.jpg?s=1024x1024&w=is&k=20&c=sqpdWfFlph222L0QYMAqtZVj1Hq39cq4Lmu5_BnsuX0=" width="100%">
        </td>
        <td>
            <img src="https://media.istockphoto.com/id/1444291518/photo/black-woman-working-from-home-office.jpg?s=1024x1024&w=is&k=20&c=SEjUG2o_oeN7n7upOLkIuQzr8yrOYFw232PPM3wz3lg=" width="100%">
        </td>
       </tr>
       <tr>
        <td>
            <img src="https://images.pexels.com/photos/1181467/pexels-photo-1181467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%">
        </td>
        <td>
            <img src="https://images.pexels.com/photos/574073/pexels-photo-574073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%">
        </td>
       </tr>
    </table>
    <!--footer part-->
    <table border="0" width="40%" cellspacing="10px" align="center">
        <tr>
            <td align="center">
                <h6>codewithtahir1246 copyright &copy; 2022-2223</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum voluptates fugit nam magni iusto aut repudiandae! Delectus, provident? Dolores.</p>
                <p>Lorem ue debit dicta! Qui rerum repel accusantium.</p>
                <button>clickMe</button>
                <h5>Codewithtahir567@gmail.com</h5>
                <h5>phone: +91 8356828756</h5>
                <h6>Follow me on:</h6>
                
                <img src="https://cdn-icons-png.flaticon.com/128/733/733547.png" width="15px">
                &nbsp;
                <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" width="15px">
                &nbsp;
                <img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" width="15px">
            </td>
        </tr>

    </table>
</body>
</html>