<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
       body{
        background:lightgrey ;
       }

        .logo {
            text-align: center;
            font-size: 400px;
        }

        a {
            text-decoration: none;
            border-radius: 20px;
            padding: 10px 20px;
            color: white;
            background: #ab175a;
            margin-top: 20px;
        }
        .footer_text_color {
            color: black;
            background: white;
            padding: 10px;
            font-size: 10px;
            font-weight: 500;
        }

        ol li{
            text-align: center;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="30px" border="0" width="40%" align="center"
        style="font-family:arial;font-size: 10px; background-color: white;">
        <tr>
            <td style="padding: 10px 20px; text-align: center;" width="50%">
                <img src="https://socialfaim.com/assets/img/logo-new.png" width="170">

            </td>
        </tr>

        <tr>
            <td align="center">
                <h1 style="margin-bottom: -23px; color: grey; ">Hi Candy<br>
                    Upgrade in less than 30 seconds.<br>
                    Try out our 7 day free trial.</h1>
            </td>
        </tr>

    </table>
    <table cellpadding="0" cellspacing="30px" border="0" width="40%" align="center"
        style="font-family:arial;font-size: 10px; background-color: white;">

        <tr>
            <td align="center">
                <h2>Bill monthly</h2>
            </td>
            <td style=" align-items: center; font-size: 40px;  color: lightskyblue;">
                <i class="fa-solid fa-toggle-off"></i>
            </td>
            <td style="margin-left: 10px;">
                <h2>Bill yearly</h2>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="30px" border="1" height="600" width="40%" align="center"
        style="font-family:arial;font-size: 10px; background-color: white;">
        <tr>
            <td align="center" colspan="3">
                <h1>Growth</h1>
                <h1 style="color: #ab175a;">USD 199 /mo</h1>
                <i class="fa-li fa fa-check-square"></i>
                <ol>
                <li>Ideal for starting out with Influencer Marketing</li>
                <br>
                <li>Chrome extension</li>
                <br>
                <li>Advanced search engine</li>
                <br>
                <li>Unlimited influencer relationships</li>
                <br>
                <li>Compiled Influencer Post Management</li>
                <br>
                <li>Actionable Influencer insight</li>
            </ol>
            <br>
            <br>
                <a href="https://socialfaim.com/", target="_blank">Get Started</a>




            </td>
            <td align="center" colspan="3">
                <h1>Premium</h1>
                <h1 style="color: #ab175a;">USD 499 /mo</h1>
                <ol>
                <li>Ideal for running regular marketing Campaigns</li>
                <br>
                <li>Access to 50M+ influencers</li>
                <br>
                <li>Marketing landscape</li>
                <br>
                <li>Real-time campaign report</li>
                <br>
                <li>Access to multiple platform</li>
                <br>
                <li>Dedicated person</li>
                <br>
                <li>Compiled Influencer Post Management</li>
                <br>
                <li>Actionable Influencer insight</li>
            </ol>
            <br>
            <br>
                <a href="https://socialfaim.com/", target="_blank">Get Started</a>
            </td>
            <td align="center" colspan="3">
                <h1>Enterprise</h1>
                <h1 style="color: #ab175a;">Let's Talk</h1>
                <ol style="align-items: center;">
                <li style="color: #ab175a;">Ideal for managing marketing Campaigns at scale</li>
                <br>
                
                <li style="color: #ab175a;">Access to 50M+ influencers</li>
                <br>
                <li style="color: #ab175a;">Marketing landscape (Unlimited)</li>
                <br>
                <li style="color: #ab175a;">Real-time campaign report (Unlimited)</li>
                <br>
                <li style="color: #ab175a;">Access to multiple platform</li>
                <br>
                <li style="color: #ab175a;">Dedicated person</li>
                <br>
                <li style="color: #ab175a;">Compiled Influencer Post Management</li>
                <br>
                <li style="color: #ab175a;">Actionable Influencer insight (Unlimited)</li>
                <br>
                <li style="color: #ab175a;">Centralized database for all your member</li>
                <br>
                <li style="color: #ab175a;">Advance Search Engine</li>
                <br>
                <li style="color: #ab175a;">Influencer Revenue Track</li>
                <br>
                <li style="color: #ab175a;">Influencer Content Library</li>
            </ol>
            <br>
                <a href="https://socialfaim.com/", target="_blank">Get Started</a>

            </td>
       
    </table>

<table cellpadding="0" cellspacing="30px" border="0"  width="40%" align="center"
style="font-family:arial;font-size: 10px; background-color: white;">

        <tr>
            <td align="center">
                <h2 class="footer_text_color" style="font-weight: bold; font-size: 13px;"> In case of any query call us at : +91 9324067745</h2>
                
                <h5>Mail us at :<h/5>
                    <span>
                        <a class="footer_text_color" href="mailto:info@socailfaim.com" target="_blank">info@socailfaim.com
                        </a>
                    </span>

                        <img src="https://cdn-icons-png.flaticon.com/128/733/733547.png" width="15px">
                        &nbsp;
                        <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" width="15px">
                        &nbsp;
                        <img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" width="15px">
                        <h5>Copyright Socialfaim © 2018. All rights reserved</h5>

            </td>



        </tr>
    </table>


















</body>

</html>