<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: lightgray;

        }

        .logo {
            text-align: center;
            font-size: 400px;
        }


        a {
            text-decoration: none;
            padding: 12px 20px;
            border: 1px solid white;
            flex-basis: 30%;
            background-color: #ab175a;
            text-align: center;
            font-size: 12px;
            margin-left: -258px;
            color: white;
            border: none;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="30px" border="0" width="40%" align="center"
        style="font-family:arial;font-size: 10px; background-color: white;">
        <tr>
            <td style="padding: 10px 20px; text-align: center;" width="50%">
                <img src="https://socialfaim.com/assets/img/logo-new.png" width="170">

            </td>
        </tr>
        <tr>
            <td height="0.5" style="background-color: black; ;"></td>
        </tr>
        <tr>
            <td align="center">
                <h1 style="margin-bottom: -23px; ">CONGRATULATION !</h1>
            </td>
        </tr>

        <tr>
        <tr>
            <td>
                <h3 style="font-size: 13px; text-align: center; margin-bottom: -34px;">Your eCommerce storfront account
                    has been</h3>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p><span style="color: skyblue; font-size: 20px; ">Flaunt your look with adidas</span></p>
            </td>
        </tr>


    </table>

    <table cellpadding="0" cellspacing="30px" border="0" width="40%" align="center"
        style="font-family:arial;font-size: 10px; background-color: white;">
        <tr>
            <td
                style="width: 100px; height: 100px; background-color: blue;  text-align: center; color: white; padding: 45px 20px; ">
                <h1>Your offer</h1>
                <p style="font-size: 80px;">$70</p>
            </td>

        </tr>
        </tr>
        <tr>
            <td
                style="width: 100px; height: 100%; background-color: green; border: 2px solid green; text-align: center; color: white;">
                <h2>your offer can go up to</h2>
                <h1 style="font-size: 100px;">$140</h1>
                <p>Selfi on instagram</p>
                <p>Film in HD</p>
                <P>Twit #Richkid</P>
            </td>
        </tr>

    </table>













</body>

</html>